body, html {
    margin:0;
    padding:0;
    border:0;
    background-color:#E6E6FA;
    font-size:24px;
    color:black;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif ;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.style_1 {
    border-radius: 5px;
    background-color: red;
    padding: 10px;
    width: 300px;
}

.style_2 {
    background-color: black;
}

#style_3 {
    background-color: yellow;
}