/* On utilise un menu horizontal pour mieux exploiter l'espace du support mobile
nav {
	width: 920px;
	margin: 10px;
	padding: 10px;
	background-color: #ccc;
}
nav ul {
	width: 920px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
nav ul li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #333;
}
nav ul li:last-child {
	border-right: none;
}
nav ul li a {
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
nav ul li a:hover {
	color: #fff;
}
*/

/* A présent, on utilise un menu vertical pour occuper toute la largeur de l'écran */
nav {
	margin: 10px;
	padding: 5px;
	background-color: transparent;
	font-family: Arial;
}
nav ul {
	width: 100%!important;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
nav ul li {
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px dotted black;
	text-align: center;
}
nav ul li:last-child {
	border-bottom: none;
}
nav ul li a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}
nav ul li a:hover {
	color: #fff;
}